---
http_interactions:
- request:
    method: post
    uri: http://get-feedback.at/questions.json
    body:
      encoding: US-ASCII
      string: multiplechoice[title]=A&multiplechoice[description]=A%20Description&multiplechoice[choices][choice_1]=Choice%201&multiplechoice[choices][choice_2]=Choice%202
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"9a234567d8e380cc47bec7cd146b5fb8"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"question":{"title":"A","description":"A Description","choices":[{"description":"Choice
        1"},{"description":"Choice 2"}]},"errors":{"title":["is too short (minimum
        is 4 characters)"]}}'
  recorded_at: Sun, 14 Oct 2012 15:32:20 GMT
recorded_with: VCR 2.2.5
