---
http_interactions:
- request:
    method: post
    uri: http://get-feedback.at/questions.json
    body:
      encoding: US-ASCII
      string: multiplechoice[title]=A%20title&multiplechoice[description]=A%20Description&multiplechoice[choices][choice_1]=Choice%201
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"82ab65a739525c5dff9c645e6072c1cc"'
      Status:
      - '200'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"question":{"title":"A title","description":"A Description","choices":[{"description":"Choice
        1"}]},"errors":{"choices":["must contain at least two items."]}}'
  recorded_at: Sun, 14 Oct 2012 15:32:20 GMT
recorded_with: VCR 2.2.5
